* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100;1,500;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500;1,700&display=swap');



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  position: relative;
width: 100%;
height: 93px;
left: 0px;
top: 0px;
background-color: blue;
}

/* Logo
#logo{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  width: 363px;
  height: 59px;
  left: 560px;
  top: -85px;

  background: #C4C4C4;
} */

/* High Score */
.highScore{
  position: relative;
  width: 145px;
  height: 40px;
  left: 1263px;
  top: 31px;

  background: #C4C4C4;
}

/* Username */
.username{
  /* position: relative; */
  width: 145px;
  height: 40px;
  left: 46px;
  top: 28px;

  background: #EC0000;
}

/* Main Page */
.mainPage{
  position: relative;
  width: 1424px;
  height: 792px;
  left: 0px;
  top: 93px;

  background: green;
}

/* Game Page */
.gamePage{
  position: relative;
  width: 1146px;
  height: 763px;
  left: 277px;
  top: 117px;

  background: #DA02DE;
}

/* User Div */
.user{
  position: absolute;
  width: 249px;
  height: 773px;
  left: 17px;
  top: 107px;

  background: #C4C4C4;

}

/* Answers */
.answers{
  position: absolute;
  width: 1119px;
  height: 188px;
  left: 292px;
  top: 676px;

  background: #00ffdd;
}



/* Question */
.question{
  position: absolute;
  width: 1115px;
  height: 509px;
  left: 292px;
  top: 130px;

  background: #ff00ff;
}

/* Login Div */
/* .login{
  text-align: center;
  position: absolute;
  width: 966px;
  height: 549px;
  left: 249px;
  top: 175px;

  background: #C4C4C4;
} */


/* Signup Div */
.signUp{
  text-align: center;
  position: absolute;
  width: 966px;
  height: 549px;
  left: 249px;
  top: 175px;

  background: #C4C4C4;
}

/* Username */
/* .usernameEnter{
  position: absolute;
  width: 302px;
  height: 33px;
  left: 581px;
  top: 400px;

  background: #b8fffb;
} */


/* Password */
/* .passwordEnter{
  position: absolute;
  width: 302px;
  height: 33px;
  left: 581px;
  top: 450px;

  background: #b8fffb;
} */

/* Choose Game */
.chooseGame{
  position: absolute;
  width: 694px;
  height: 650px;
  margin-left: 25%;
  margin-top: 50px;

  background: #C4C4C4;
}

 /* Game Over */
.gameOver{
  position: absolute;
width: 1116px;
height: 733px;
margin-left: 25%;
margin-top: 50px;

background: #1fcc00;
}









